
body {
    background: rosybrown;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 50px;
    color: rgb(240, 181, 227); 
}
    



.galeria {
    display: flex;
    width: 700px;
    height: 350px;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);  
}